
/* reset style*/
@import url("reset.css");

body{
    background-color: darkgray;
}
header{
    margin-bottom: 40px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: blanchedalmond;
}
h2{
    margin-bottom: 20px;
    color: antiquewhite;
    font-size: 40px;
}
.icon,
.icon-design,
.rastor{
    text-align: center;
    max-width: 900px;
    background-color: #607b89;
    margin: 0 auto 100px;
    border-radius: 20px;
}
.icon > img{
    display: block;
    margin: 0 auto 20px;
    
}
.icon-design > img{
    display: block;
    margin: 0 auto 20px;
    
}
.rastor > img{
    display: block;
    margin: 0 auto 20px;
    
}
.rastor img:first-of-type{
    width: 100%;
}

