/* connect fonts */
@import url("fonts.css");
/* reset style*/
@import url("reset.css");

.business {
    max-width: 673px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    line-height: 1.46;
    font-size: 18px;
    margin-bottom: 200px;
}

.square {
    width: 12px;
    height: 12px;
    background: #40DDB6;
    display: inline-block;
}
.subtitle-business {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #37393F;
    display: inline-block;
}
.title-business {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    color: #37393F;
    margin-bottom: 20px;
}
.text-businnes {
    color: #7D7D7D;
    margin-bottom: 15px;
}
.sub-text-business {
    color: #7D7D7D;
    margin-bottom: 20px;
}
.check-businnes {
    margin-bottom: 43px;
}
.check-mark-businnes-padding {
    margin-bottom: 23px;
}
.check-mark-businnes {
    min-height: 27px;
    background-image: url("../img/check-mark.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: normal;
    
    
}
.sign-businnes {
    margin-bottom: 37px;
}
.sign-left {
    width: 295px;
    height: 140px;
    border: 1px solid #E3E3E3;
    display: inline-block;
    vertical-align: top;
    margin-right: 21px;
}
.sign-left-inside {
    padding: 31px 32px 32px;
    background: url( "../img/icon-left.svg") no-repeat 32px 31px / auto ;
}
.sign-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #37393F;
    line-height: normal;
    margin-left: 56px;
}
.sign-text {
    color: #7D7D7D;
    font-size: 16px;
    line-height: 1.35;
    margin-left: 56px;
}
.sign-right {
    width: 296.5px;
    height: 140px;
    border: 1px solid #E3E3E3;
    display: inline-block;
    vertical-align: top;
}
.sign-right-inside {
    padding: 31px 37px 32px;
    background: url( "../img/icon-right.svg") no-repeat 37px 31px / auto ;
}
.button-businnes {
    width: 184px;
    height: 65px;
    background-color: #6B77E5;

}
.text-button-businnes {
    color: #FFF;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    padding-top: 21px;

}
/* Discover our latest client projects Block */
.discover {
    max-width: 1220px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    line-height: 1.46;
    font-size: 18px;
    margin-bottom: 200px;
    
}
.head-discover {
    max-width: 852px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 47px;
}

.sub-title-discover {
    margin-bottom: 14px;
}
.title-discover {
    margin-bottom: 14px;
}
.text-discover {
    color: #7D7D7D;
}
.card-discover {
    max-width: 1220px;
    font-size: 0;
}
.card {
    width: 384px;
    height: 582px;
    display: inline-block;
}
.card-1 {
    background: url( "../img/card-1.png") left top / 384px 501px no-repeat;
    margin: 0 34px 58px 0 ;

}
.title-card {
    padding: 525px 0 0 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #37393F;
    line-height: normal;
}
.date-card {
    background: url("../img/icon-date.svg ") left center / 22px 22px no-repeat;
    padding-left: 25.35px;
    font-size: 14px;
    

}
.card-2 {
    background: url( "../img/card-2.png") left top / 384px 501px no-repeat;
    margin: 0 34px 58px 0 ;
}
.card-3 {
    background: url( "../img/card-3.png") left top / 384px 501px no-repeat;
    
}
.card-4 {
    background: url( "../img/card-4.png") left top / 384px 501px no-repeat;
    margin-right: 34px;
    
}

.card-5 {
    background: url( "../img/card-5.png") left top / 384px 501px no-repeat;
    margin-right: 34px;
    
}
.card-6 {
    background: url( "../img/card-6.png") left top / 384px 501px no-repeat;
    
}
/* Clothing for Women block */

.clothing-violet {
    width: 6px;
    height: 28px;
    background-color:#8A33FD ;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}
.clothing-title-line {
    display: inline-block;
}
.clothing-content {
    padding-left: 21px;

}
.clothing {
    max-width:1240px ;
    font-family: "Causten", sans-serif;
    color: #807D7E;
    font-size: 20px;
    line-height: 1.67;
    letter-spacing: 0.4px;
    margin: 0 auto 100px;
}
.clothing-title {
    font-family: "Core Sans C", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.19;
    letter-spacing: 0.56px;
    color:#3C4242 ;
    margin-bottom: 30px;

}
.clothing-subtitle {
    font-family: "Core Sans C", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.67;
    margin-bottom: 25px;
    
}
.clothing-text {
    margin-bottom: 20px;

}
.clothing-span {
    font-weight: 700;
}
.clothing-subtext {
    margin-bottom: 25px;
}
.clothing-link {
}

/* WE MADE YOUR EVERYDAY  */

.made {
    max-width: 1240px;
    margin: 0 auto 100px;
    font-size: 0;
    
}
.inside-made {
    width: 466px;
    margin: 183px auto;

}
.left-made {
    display: inline-block;
    width: 614px;
    height: 640px;
    background: url("../img/left-made.png ") left top / 614px 640px no-repeat;
    vertical-align: top;
}
.title-made {
    color: #fff;
    font-family: "Core Sans C", sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.208px;
    margin-bottom: 30px;
}
.text-made {
    color: #fff;
    font-family: "Causten", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 50px;

}
.button-link-made {
    display: inline-block;
}
.button-made {
    width: 166px;
    height: 46px;
    background-color: #fff;
    border-radius: 8px;
    font-family: "Causten", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #3C4242;
    text-align: center;
    padding-top: 12px;
}
.right-made {
    display: inline-block;
    width: 614px;
    height: 640px;
    background: url( "../img/right-made.png") left top / 614px 640px no-repeat;
    vertical-align: top;
}